/Library
/Temp
/Build
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-6_13_0.so
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-6_13_0.so.meta
/Debug
/.vs
/Builds
*.csproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
*.cache
*.sln
*.ide
*.ide-shm
*.ide-wal
*.csproj
*.ide-shm
*.ide
*.ide-shm
*.ide-wal
*.sln
*.cache
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
*.apk
*.zip
/v15
*.csproj
/Logs
/Packages
/obj
/Assets/FungusExamples/
/Assets/Tests/